* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

a{
  text-decoration: none;
}
h2{
  color: #091e40;
  font-size: 34px;
}

header {
  background-color: #fff;
  margin: 45px 141px 0px;
}

hr{
  border: none;
  border-top: 4px solid #4497f3;
}



.logo{
  padding-top: 0;
}
.logo img{
  width:40%;
}

.menu{
  padding-right: 0;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

.menu li {
  padding: 20px;
  margin-bottom: 7px;
  display:inline;
  font-size: 16px;
}
.menu li:last-child {
  padding-right: 0px;
}

.menu a{
  color:grey;
}

.menu a:hover{
  color:#4497f3;
}

span.homeLink{
  color:#4497f3;
}

span.signinLink{
  color:#4497f3;
  border-width: 3px;
  border-style: solid;
  padding: 10px 35px;
}

.home{
  margin-left: 141px;
  margin-top: 85px;
}

.home h1{
  font-family: 'Nunito Sans', sans-serif;
  color: #091e40;
  font-size: 54px;
  margin-top: 150px;
}
.mainText p{
  color:#81858e;
  font-size: 16px;
  line-height: 1.8;
}
.homeButton{
  border: none;
  padding: 15px 32px;
  margin-top: 74px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color:#4497f3;
}
.homeButton a{
  color:#fff;
}
.homeImg{
  text-align: right;
  padding-left: 0;
  padding-right: 0;
  }
.homeImg img{
width: 100%;

}

.home2{
  margin-top: 100px;
  margin-right: 141px;
}



.home2 hr{
  width:15%;
  margin-left: 0px;
}

.amazing p, 
.video p,
.travel p{
  margin-top: 36px;
  color:#81858e;
  line-height: 1.8;
}


.container-home {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.container-home div:nth-child(1) {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: baseline;
  justify-content:  space-around;
  align-self: flex-start;
  
}

.container-home div:nth-child(2) {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: baseline;
  justify-content: space-around;
  align-self: flex-start;
  
}

.container-home div:nth-child(3) {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: baseline;
  justify-content: space-around;
  align-self: flex-start;
  
}

.ocean {
  margin: 70px 20px 0px 0px;
}
.oceanMobile img{
  display: none;
}
.nepal {
  margin: 0px 20px;
}

.indonesia {
  margin: 70px 20px 0px 20px;
}
 .amazing {
  margin: 70px 0px 0px 53px;
}

.amazing p{
  margin-bottom: 0px;
}

 .amazing h2{
  margin-top: 0px;
}

.video h2,
.video p,
.travel h2,
.travel p,
.experiences h2,
.experiences p{
  text-align: center;
}

.video hr,
.travel hr,
.experiences hr{
  width: 7.5%
}
.video p, 
.travel p,
.experiences p{
  margin-left: 15%;
  margin-right: 15%;
}

.video{
  margin: 175px 141px;
}
.travel-first img,
.travel-five img{
  width: 100%;
  max-width: 146px;
  height: auto;
}
.travel-second img,
.travel-third img,
.travel-fourth img{
  width: 100%;
  max-width: 380px;
  height: auto;
}

.bigVideo img {
  width: 100%;
  max-width: 792px;
  height: auto;
}
.smallVideo{
  overflow: auto;
  height: 500px;
}
.smallVideo ul {
  list-style: none;
  padding: 0;
  margin: 0px;
}

.smallVideo li {
  display: flex;
  margin: 0px 0px 10px 0px;
}
.smallVideo li:hover{
  background-color: rgb(152, 152, 152, 0.2);
}
.smallVideo img{
  margin: 7.5px 15px;
  
}

.smallVideo h3,
.smallVideo p{
  margin: 0px;
}
.smallVideo h3{
  padding-top: 10px;
}
.smallVideo p{
  text-align: left;
}

.container-travel {
  display: flex;
  width: 100%;
  
  
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 150px;
}

.container-travel div:nth-child(1) {
  display: flex;
  flex-basis: auto;
  /* flex-grow: 1; */
  flex-shrink: 1;
  align-items: baseline;
  justify-content:  space-around;
  align-self: flex-start;
  
}

.container-travel div:nth-child(2) {
  display: flex;
  flex-basis: auto;
  /* flex-grow: 1; */
  flex-shrink: 1;
  align-items: baseline;
  justify-content: space-around;
  align-self: flex-start;
  
}

.container-travel div:nth-child(3) {
  display: flex;
  flex-basis: auto;
  /* flex-grow: 1; */
  flex-shrink: 1;
  align-items: baseline;
  justify-content: space-around;
  align-self: flex-start;
  
}
.container-travel div:nth-child(4) {
  display: flex;
  flex-basis: auto;
  /* flex-grow: 1; */
  flex-shrink: 1;
  align-items: baseline;
  justify-content: space-around;
  align-self: flex-start;
  
}
.container-travel div:nth-child(5) {
  display: flex;
  flex-basis: auto;
  /* flex-grow: 1; */
  flex-shrink: 1;
  align-items: baseline;
  justify-content: space-around;
  align-self: flex-start;
  
}

  .travelPhoto-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    /* width: 55%; */
  }

  .travel-third img{
    margin-top: -60px;
  }

  .experiences{
    margin-top: 150px;
  }
  .experiences p{
    margin-top: 36px;
    line-height: 1.8;
  }
  .container-experiences {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .container-experiences div:nth-child(1) {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: baseline;
    justify-content:  space-around;
    align-self:center;
    
  }
  
  .container-experiences div:nth-child(2) {
    /* display: flex; */
    flex-basis: auto;
    /* flex-grow: 1; */
    flex-shrink: 1;
    align-items: baseline;
    justify-content: space-around;
    align-self: flex-start;
  }
  
  .container-experiences div:nth-child(3) {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: baseline;
    justify-content: space-around;
    align-self: center;
    
  }

  .experiences-second p{
    margin-top: 0;
  }
  .experiences-second h3{
    margin-bottom: 0;
  }

  .booking{
    margin-top: 150px;
    background: url('./img/booking.png');
    background-size: cover;
  
  }
  .bookingGrid{
    display: grid;
    grid-template-areas: "a a a a"
                        "b b b b"
                        "c d e f";
    padding: 234px 150px;
  }
  .whiteText{
    grid-area: a;
    text-align: center;
  }
  .bigWhiteText{
    grid-area: b;
    text-align: center;
  }
  .whiteText h3{
    color:#fff;
    font-size: 26px;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 0px;
  }
  .bigWhiteText h1{
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
    font-size: 42px;
    margin-bottom: 45.86px;
  }
  .contactFormOne{
    grid-area: c;
  }
  .contactFormTwo{
    grid-area: d;
  }
  .contactFormThree{
    grid-area: e;
  }
  .contactFormFour{
    grid-area: f;
  }
  .contactFormFour button{
    margin: 0;
    padding: 16.5px 69px;
  }
  .survey{
    background: rgba(255, 255, 255, 0.2);
    border:0;
    color:#fff;
  }
  select.survey:focus {
    background-color: #4497f3; }
  
  #country {
      padding: 18px 35.6335px;
  }
  #package{
    padding: 18px 49.425px;
  }
  #start {
    padding: 18px 58.1px;
}
.footerOne{
  display: grid;
  grid-template-areas: "h i j k l m n"
                      "o o o o o o o";
  margin: 82px 414px 25px 484px;
  font-size: 14px;
  grid-row-gap: 30px;
  font-family: 'Nunito', sans-serif;
}
.ho{
  grid-area: h;
}
.vi{
  grid-area: i;
}
.des{
  grid-area: j;
}
.book{
  grid-area: k;
}
.con{
  grid-area: l;
}
.pri{
  grid-area: m;
}
.pol{
  grid-area: n;
}
.copy{
  grid-area: o;
  text-align: center;
}

.footerOne span{
  color:#81858e;
}
.footerOne a{
  color:black;
}
.footerOne a:hover{
  color: #4497f3;
}
.footerTwo{
  display: grid;
  grid-template-areas: "a b c d";
  padding: 0 582px 0 652px;
}

.youtube{
  grid-area: a;
}
.facebook{
  grid-area: b;
}
.twitter{
  grid-area: c;
 
}
.mail{
  grid-area: d;
  
}
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 909px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
} 

/* mediaquerries */
@media (max-width: 1508px){
  .explore {
    margin-top: 20px;
  }


}

@media (max-width: 1425px){
  .home2{
    margin-right: 2%;
  }
  .amazing h2{
    font-size: 26px;
  }
}

@media (max-width: 1282px){
  .container-home{
    flex-wrap: wrap-reverse;
  }
  .amazing,
  .video{
    text-align: center;
  }
  .video{
    margin: 175px 0;
  }
  .amazing h2,
  .amazing p,
  .video h2,
  .video p{
    margin-left: 141px;
    margin-right: 141px;
  }


  .amazing h2{
    font-size: 34px;
  } 
  .home2 hr {
    margin-left: auto;
  }

  .ocean,
  .nepal{
    margin: 20px 20px 0 20px;
  }
  .oceanDesktop img{
    display: none;
  }
  .oceanMobile img{
    display:block;
  }
  .container-home div:nth-child(2){
    justify-content: flex-start;
  }
 
  .travel p, 
  .experiences p,
  .smallVideo p {
    margin-left: 0;
    margin-right: 0;
  }
  .smallVideo p,
  .smallVideo h3 {
    text-align: left;
  }
}



@media (max-width: 1154px){
  .amazing h2,
  .amazing p,
  .video h2,
  .video p{
    margin-left: 0;
    margin-right: 0;
  }
  header, 
  .home {
    margin: 2% 0 2% 2%;
  }
  
  .amazing,
  .video,
  .experiences,
  .travel,
  footer {
    margin: 15% 0 0% 2%;
  }
}

@media (max-width: 1104px){
  .home h1 {
    font-size: 46px;
    margin-top: 85px;
  }

}
@media (max-width: 1000px){
  .signUp {
    margin-top: 20px;
  }
}

@media (max-width: 909px){
  .menu ul,
  .homeTitle {
    float: none;
    text-align: center;
  }
  .logo img {
    width: auto;
  }
  .logo {
    text-align: center;
  }
  .smallVideo li {
    display: table-cell;
  }
  .smallVideo {
    overflow: scroll;
    height: auto;
  }
  .smallVideo div {
    margin-left: 14.5px;
  }
  .smallVideo li:first-child img,
  .smallVideo li:first-child div{
    margin-left: 0;
  }
  .smallVideo li:last-child img{
    margin-right: 0;
  }
  
}
@media (max-width: 611px){
  .menu li {
    padding: 10px;
  }
  .amazing,
  .video{
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 517px){
  .menu li {
    padding: 10px 20px;
    display: inline-block;
  }
  .menu ul{
   text-align: justify;
  }
}